// TYPOGRAPHY

body {
  font-family: $ff-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $clr-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-secondary;
  color: $clr-primary-500;
}

.heading {
  text-transform: uppercase;
  &-xs {
    font-size: $fs-h5;
  }

  &-sm {
    font-size: $fs-h4;
  }

  &-md {
    font-size: $fs-h3;
  }

  &-lg {
    font-size: $fs-h2;
  }

  &-xl {
    font-size: $fs-h1;
  }
}

.title {
  text-shadow: -0.25rem 0.25rem 0 $clr-primary-100;
}

.paragraph {
  text-transform: none;
  &-xs {
    font-size: $fs-caption;
  }

  &-sm {
    font-size: $fs-subtext;
  }

  &-md {
    font-size: $fs-paragraph;
  }

  &-lg {
    font-size: $fs-h5;
  }

  &-xl {
    font-size: $fs-h4;
  }
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}
