// UTILITIES

.margin {
  &-y {
    &-md {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &-lg {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &-t {
    &-md {
      margin-top: 1.5rem;
    }
  }

  &-b {
    &-xl {
      margin-bottom: 3.5rem;
    }
  }

  &-r {
    &-md {
      margin-right: 1.5rem;
    }
  }
}

.no-margin {
  margin: 0;

  &-t {
    margin-top: 0;
  }
  &-l {
    margin-left: 0;
  }
  &-r {
    margin-right: 0;
  }
  &-x {
    margin-left: 0;
    margin-right: 0;
  }
}
.no-padding {
  margin: 0;

  &-t {
    margin-top: 0;
  }
  &-l {
    margin-left: 0;
  }
  &-r {
    margin-right: 0;
  }
  &-x {
    margin-left: 0;
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
}

.text-centered {
  text-align: center;
}
