// BUTTONS

.btn {
  position: relative;

  text-transform: uppercase;
  font-size: inherit;
  cursor: pointer;

  background-color: $clr-neutral-100;
  padding: 0.75rem 1rem;
  border-radius: 0;
  border: $border-default;
  outline: none;

  transition: all 0.2s;
  width: 100%;

  &:hover {
    transform: translate(0.5rem, -0.5rem);
  }

  &:active {
    transform: translate(0%);
  }

  &:focus {
    outline: 3px solid $clr-primary-200;
  }

  &-primary {
    border: $border-default;

    color: $clr-primary-500;
    background-color: $clr-primary-500;
    &:hover {
      border: 3px solid $clr-primary-300;
    }
  }

  &-secondary {
    border: 3px solid $clr-primary-500;

    color: $clr-primary-500;
    background-color: $clr-neutral-100;
  }

  &-danger {
    border: 3px solid $clr-danger-100;

    color: $clr-neutral-100;
    background-color: $clr-danger-100;
  }

  &-success {
    border: 3px solid $clr-success-100;

    color: $clr-text-inverted;
    background-color: $clr-success-100;
  }

  &-info {
    border: 3px solid $clr-info-100;

    color: $clr-text-inverted;
    background-color: $clr-info-100;
  }
}

.btn-background {
  display: inline-block;
  background: $clr-primary-500;

  &--inactive {
    background: none;

    .btn {
      &:hover {
        transform: none;
      }
    }
  }
}
