// FORM
.form {
  max-width: 50rem;
  margin: auto;

  padding: 2rem;
}

// FORM CONTROL

.form-control {
  font-size: 2rem;
  display: flex;
}

.login-form {
  width: 40rem;
}

.comment-form {
  max-width: 95%;
  border: $border-default;

  textarea {
    height: 11rem;
  }
}
