// FORM
.form {
  max-width: 50rem;
  margin: auto;

  padding: 2rem;
}

// FORM CONTROL

.form-control {
  font-size: 2rem;
  display: flex;
}

.login-form {
  width: 40rem;
}

.comment-form {
  max-width: 95%;
  border: $border-default;

  textarea {
    height: 11rem;
  }
}

@include respond("tablet") {
  .form {
    max-width: 100%;
  }
  .login-form {
  }

  .comment-form {
    width: 95%;
  }
}

@include respond("mobile") {
  .form {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .login-form {
    width: 100%;
  }
  .comment-form {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 95%;
  }
}
