@import "./navbar";
@import "./button";
@import "./input";
@import "./form";
@import "./modal";
@import "./card";
@import "./toast";
@import "./spacer";

// LOGO
.logo {
  img {
    height: 100%;
    width: auto;
  }
}

// LINK

.link {
  color: $color-blue-light;
}
