// CUSTOM INPUT TEXT

.input-text {
  font-size: $font-size-default;
  position: relative;
  width: 100%;

  &__input {
    position: relative;
    padding: 1rem 1.25rem;
    margin: auto;
    margin-top: 3.5rem;

    width: 100%;

    font-size: $font-size-default;
    border: $border-default;

    &--textarea {
      font-family: $font-family-primary;
      height: 17rem;
      width: 100%;
      resize: none;
    }
  }
  &__label {
    transition: all 0.2s;
    position: absolute;
    font-size: $font-size-default;
    color: $color-grey-dark;
    top: 4.5rem;
    left: 1.6rem;

    &--active {
      color: $color-text-primary;
      top: 1.5rem;
      left: 0.75rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__error {
    display: inline-block;
    color: $color-red;
    margin: auto;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.input-text--error {
  .input-text__label {
    color: $color-red-light;
    font-weight: 500;
    &--active {
      color: $color-red;
    }
  }
  .input-text__input {
    border: 3px solid $color-red;
    background-color: rgba($color-red-light, 0.1);
  }
  .input-text__error {
  }
}
