// NAVBAR
.navbar {
  position: fixed;
  padding: 0.75rem 2rem;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;

  border-bottom: $border-default;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $clr-neutral-200;
}

.navbar-logo {
  height: 5rem;
}

.navbar-links {
  display: flex;
  align-items: center;

  li {
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      color: $clr-primary-500;
      transition: color 0.2s;
      &:hover {
        color: $clr-primary-300;
      }
    }
  }

  &--active {
    &::before {
      animation: expand-middle ease-in-out 0.2s;
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: 0;
      background-color: $clr-danger-100;
    }
  }
}

@include respond("mobile") {
  .navbar-logo {
    height: 6rem;
  }
  .navbar-links {
    display: none;
  }
}

// 550px
