// NAVBAR
.navbar {
  position: fixed;
  padding: 0.75rem 2rem;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;

  border-bottom: $border-default;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $clr-neutral-200;
}

.navbar-logo {
  height: 5rem;
}

.navbar-links {
  display: flex;
  align-items: center;

  li {
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      color: $clr-primary-500;
      transition: color 0.2s;
      &:hover {
        color: $clr-primary-300;
      }
    }
  }

  &--active {
    &::before {
      animation: expand-middle ease-in-out 0.2s;
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: 0;
      background-color: $clr-danger-100;
    }
  }
}

.sidebar {
  display: none;
  position: fixed;
  cursor: pointer;

  bottom: 3rem;
  left: 3rem;
  z-index: 10;

  font-size: $fs-h4;
}

.sidebar-icon {
  display: inline-block;

  width: 8rem;
  height: 8rem;

  border-radius: 5000px;
  background: $clr-primary-400;
  color: $clr-text-inverted;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 500;

  box-shadow: -3px 3px 0 $clr-primary-200;
}

.sidebar-links {
  box-shadow: -3px 3px 0 $clr-primary-200;
  position: absolute;
  z-index: -1;

  transform-origin: bottom left;
  transition: all 0.2s ease-out;

  background: $clr-primary-400;

  bottom: $fs-h6;
  left: $fs-h6;
  width: 70vw;

  li {
    padding: 1.5rem;
    margin-left: $fs-h1;

    a {
      color: $clr-text-inverted;
      &.sidebar-links--active {
        color: $clr-primary-200;
      }
    }
  }
}

@include respond("tablet") {
  .sidebar {
    display: block;
  }

  .navbar-logo {
    height: 6rem;
  }
  .navbar-links {
    display: none;
  }
}

@include respond("mobile") {
  .sidebar {
    display: block;
    font-size: $fs-h5;
  }
}
