// POST CARD

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 1rem 1.5rem;
  border: $border-default;
  background: $color-background-primary;
  transform: translate(0.7rem, -0.7rem);

  &__background {
    width: 95%;
    display: inline-block;
    background: $color-blue-dark;
  }

  &__title {
    color: $color-grey-dark;
  }

  &__username {
    text-transform: none;
  }

  &__meta {
    color: $color-grey-dark;
  }

  &__description {
    color: $color-grey-darkest;
    margin-top: 1rem;
    margin-bottom: 2rem;
    word-wrap: break-word;

    em {
      color: $color-grey;
      margin-left: 0.5rem;
    }
  }

  &__extra {
    display: flex;
    justify-content: flex-end;
  }
}

.card-menu {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

.card-menu__icon {
  cursor: pointer;

  height: 3rem;
  width: 3rem;
  text-align: center;
  &:hover {
    border-radius: 1000px;
    background: $color-grey-light;
  }
}
.card-menu__items {
  position: absolute;
  top: 2rem;
  right: 60%;

  background-color: $color-grey-lightest;
  border: $border-default;
}
.card-menu__item {
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 9rem;

  cursor: pointer;

  &:not(:last-child) {
    border-bottom: $border-default;
  }
  &:hover {
    background-color: $color-grey-lighter;
  }
}
