// VARIABLES

// FONTS
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Montserrat", sans-serif;

$fs-h1: 6.73rem;
$fs-h2: 5.05rem;
$fs-h3: 3.8rem;
$fs-h4: 2.85rem;
$fs-h5: 2.15rem;
$fs-h6: 1.6rem;
$fs-paragraph: 1.6rem;
$fs-subtext: 1.4rem;
$fs-caption: 1.2rem;

// COLORS
$clr-primary-100: #c8c2ff;
$clr-primary-200: #8075ff;
$clr-primary-300: #6320ee;
$clr-primary-400: #3e09ae;
$clr-primary-500: #220561;

$clr-neutral-100: #ffffff;
$clr-neutral-200: #f4f5f7;
$clr-neutral-300: #e1e1e1;
$clr-neutral-400: #737581;
$clr-neutral-500: #4a4b53;
$clr-neutral-600: #000000;

$clr-success-100: #529e66;
$clr-success-200: #367b48;
$clr-success-300: #276738;

$clr-danger-100: #d0454c;
$clr-danger-200: #b54248;
$clr-danger-300: #95353a;

$clr-warning-100: #e1c542;
$clr-warning-200: #cab23f;
$clr-warning-300: #b49e35;

$clr-info-100: #92cffb;
$clr-info-200: #349ce7;
$clr-info-300: #0772bf;

$clr-text: #272727;
$clr-text-inverted: #ffffff;

// BORDER
$border-default: 3px solid $clr-primary-500;

$outline-default: 3px solid $clr-primary-200;

// REM sizes
$rem-size-xs: 0.75rem;
$rem-size-sm: 1rem;
$rem-size-md: 1.5rem;
$rem-size-lg: 2rem;
$rem-size-xl: 3.5rem;

//----------------------------------------------------
// MIXINS

@mixin respond($breakpoint) {
  /*
        BREAKPOINTS:
        * mobile: 0 - 400px
        * tablet: 401 - 768px
        * laptop: 769 - 900px
        * desktop: 901px+      
  */

  @if $breakpoint == "mobile" {
    @media screen and (max-width: 25em) {
      @content;
    }
  }

  @if $breakpoint == "tablet" {
    @media screen and (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == "laptop" {
    @media screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == "desktop" {
    @media screen and (min-width: 56.25em) {
      @content;
    }
  }
}
