// RESET

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
}

// TYPOGRAPHY

body {
  font-family: $font-family-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-text-primary;
  background-color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  text-transform: uppercase;
  color: $color-primary;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: $color-text-primary;
}

ul,
ol {
  li {
    list-style: none;
  }
}

.heading {
  &-primary {
    font-size: 3.5rem;
  }
}

.paragraph {
  font-size: $font-size-default;
}

// LAYOUT

.navbar {
  height: 7rem;
  width: 90rem;
}

.page {
  margin: auto;

  padding: 2rem;
  padding-top: 9rem;
  width: 90rem;
  min-height: 100vh;
  background: $color-background-primary;
}

.page-container {
  animation: fade-in ease-in-out 0.3s;
}

@include respond("laptop") {
  .navbar {
    width: 100%;
  }
  .page {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
}

// ANIMATIONS

@keyframes expand-middle {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// UTILITIES

.margin {
  &-y {
    &-md {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &-lg {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &-r {
    &-md {
      margin-right: 1.5rem;
    }
  }
}

.full-width {
  width: 100%;
}

.text-centered {
  text-align: center;
}
